# Ignore Python virtual environment directories
python_venv/**

data.jsonl
system_prompt.txt
model_responses.jsonl
merged_file.jsonl
model_synthetic.jsonl
merged_file_with_augmentation.jsonl
